                <div class="breadcrumb-env">
                        <%= javascript_include_tag "flipclock.js" %>
                        <div class="clock" style="margin:2em;"></div>
                        <ol style="width:50%;float:left;" class="breadcrumb bc-1">
                            <li> <a href="/home"><i class="fa-trophy"></i>Contests</a> </li>
                            <li class="active"> <strong><i class="fa-reorder"></i><%= @title %></strong> </li>
                        </ol>
                        <h4 class="subbtn"><a href="">Submissions</a></h4>
                        <h4 class="subbtn"><a href="">All Submissions</a></h4>
                </div>
                <script type="text/javascript">
                    var clock;

            jQuery(document).ready(function() {

                // Grab the current date
                var currentDate = new Date();

                // Set some date in the future. In this case, it's always Jan 1
                var futureDate  = new Date(currentDate.getFullYear(), 0, 30);

                // Calculate the difference in seconds between the future and current date
                var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

                // Instantiate a coutdown FlipClock
                clock = jQuery('.clock').FlipClock(diff, {
                    clockFace: 'DailyCounter',
                    countdown: true
                });
            });
                </script>
                <div class="row">
                    <div class="col-md-<%= @clarifications.nil? ? 12 : 8 %>">
                        <div class="row">
                            <div class="panel panel-color panel-<%= @problems_hash[:panel_color] %>">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><%= @problems_hash[:name] %></h3>
                                    <div class="panel-options">
                                        <a href="#" data-toggle="remove">&times;</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <% if @problems_hash[:data].count > 0 %>
                                                <script type="text/javascript">

                                                    jQuery(document).ready(function(jQuery) {
                                                        jQuery("#<%= @problems_hash[:ccode] %>").dataTable({
                                                            aLengthMenu: [
                                                                [10, 25, 50, 100, -1],
                                                                [10, 25, 50, 100, "All"]
                                                            ],
                                                            "bLengthChange" : false, //thought this line could hide the LengthMenu
                                                            "bInfo":false
                                                        });

                                                        
                                                    });
                                                </script>

                                                <table id="<%= @problems_hash[:ccode] %>" class="table table-hover data-table middle-align table-striped" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Problem Code</th>
                                                            <th>Total Submissions</th>
                                                            <th>Allowed Languages</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% @problems_hash[:data].each_with_index do |problem, index| %>
                                                            <tr>
                                                                <td class="user-name">
                                                                    <%= link_to problem[:name], { action: "problem", ccode: @problems_hash[:ccode], pcode: problem[:pcode] }, class: "name" %>
                                                                    <!-- <span>Administrator</span> -->
                                                                </td>
                                                                <td class="text-primary">
                                                                    <%=problem[:pcode]%>
                                                                    <!-- <span>Administrator</span> -->
                                                                </td>
                                                                <td class="text-primary" title="<%=problem[:submissions_count]%>">
                                                                    <%=problem[:submissions_count]%>
                                                                </td>
                                                                <td>
                                                                    <h4>
                                                                    <% @problems_hash[:langdata][index].each do |language| %>
                                                                            <span class="tag label label-secondary"><%= language %>
                                                                            </span>
                                                                    <% end %>
                                                                    </h4>
                                                                </td>
                                                            </tr>
                                                        <% end %>
                                                    </tbody>
                                                </table>
                                                <div class="row">
                                                </div>
                                            <% else %>
                                                <p>
                                                    No problems added for the contest. The contest may not be active yet or you may not be authorized to see the problems.
                                                </p>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display:<%= @clarifications.nil? ? 'none' : '' %>">
                        <div class="panel panel-color panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Clarifications</h3>
                                <div class="panel-options">
                                    <a href="#" data-toggle="remove">&times;</a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Fat far.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-<%= @clarifications.nil? ? 12 : 8 %>">
                        <div class="row">
                            <div class="panel panel-color panel-blue">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Rules</h3>
                                    <div class="panel-options">
                                        <a href="#" data-toggle="remove">&times;</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                        <p> Rules and other shit </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>