                <div class="breadcrumb-env">
                        <ol class="breadcrumb bc-1">
                            <li> <a href="../../dashboard/variant-1/index.html"><i class="fa-home"></i>Home</a> </li>
                            <li class="active"> <strong><%= @title %></strong> </li>
                        </ol>
                </div>
                <div class="row">
                    <div class="col-md-<%= @clarifications.nil? ? 12 : 8 %>">
                        <div class="row">
                            <div class="panel panel-color panel-<%= @problems_hash[:panel_color] %>">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><%= @problems_hash[:name] %></h3>
                                    <div class="panel-options">
                                        <a href="#" data-toggle="remove">&times;</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <% if @problems_hash[:data].count > 0 %>
                                            <script type="text/javascript">
                                                jQuery(document).ready(function($) {
                                                    $("#<%= @problems_hash[:ccode] %>").dataTable({
                                                        aLengthMenu: [
                                                            [10, 25, 50, 100, -1],
                                                            [10, 25, 50, 100, "All"]
                                                        ],
                                                        "bLengthChange" : false, //thought this line could hide the LengthMenu
                                                        "bInfo":false
                                                    });
                                                });
                                            </script>

                                            <table id="<%= @problems_hash[:ccode] %>" class="table table-hover data-table middle-align table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Problem Code</th>
                                                        <th>Total Submissions</th>
                                                        <th>Allowed Languages</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% @problems_hash[:data].each_with_index do |problem, index| %>
                                                        <tr>
                                                            <td class="user-name">
                                                                <%= link_to problem[:name], { action: "problem", ccode: @problems_hash[:ccode], pcode: problem[:pcode] }, class: "name" %>
                                                                <!-- <span>Administrator</span> -->
                                                            </td>
                                                            <td class="text-primary">
                                                                <%=problem[:pcode]%>
                                                                <!-- <span>Administrator</span> -->
                                                            </td>
                                                            <td class="text-primary" title="<%=problem[:submissions_count]%>">
                                                                <%=problem[:submissions_count]%>
                                                            </td>
                                                            <td>
                                                                <% @problems_hash[:langdata][index].each do |language| %>
                                                                    <h4>
                                                                        <span class="label label-secondary"><%= language %>
                                                                        </span>
                                                                    </h4>
                                                                <% end %>
                                                            </td>
                                                        </tr>
                                                    <% end %>
                                                </tbody>
                                            </table>
                                            <div class="row">
                                            </div>
                                        <% else %>
                                            <p>
                                                No problems added for the contest. The contest may not be active yet or you may not be authorized to see the problems.
                                            </p>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display:<%= @clarifications.nil? ? 'none' : '' %>">
                        <div class="panel panel-color panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Clarifications</h3>
                                <div class="panel-options">
                                    <a href="#" data-toggle="remove">&times;</a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Fat far.</p>
                            </div>
                        </div>
                    </div>

                </div>