                <div class="breadcrumb-env">
                        <ol class="breadcrumb bc-1">
                            <li> <a href="/home"><i class="fa-trophy"></i>Contests</a> </li>
                            <li class="active"> <a href="/submissions"><i class="fa-signal"></i><%= @title %> </a> </li>
                            <% unless @contest_code.nil? %>
                                <li class="active"> <a href=<%="/contests/#{@contest_code}/"%>><i class="fa-cubes"></i><%= @contest_code %></a> </li>
                            <% end %>
                            <% unless @problem_code.nil? %>
                                <li class="active"> <a href=<%="/contests/#{@contest_code}/#{@problem_code}"%>><i class="fa-cube"></i><%= @problem_code %></a></li>
                            <% end %>
                            <% unless @user.nil? %>
                                <li class="active"> <a href=<%="/submissions/contest/#{@contest_code}/problem/#{@problem_code}/user/#{@user_id}"%>><i class="fa-user"></i><%= @user[:username] %></a></li>
                            <% end %>
                        </ol>
                </div>
                <div class="row">
                    <div class="col-md-<%= @clarifications.nil? ? 12 : 8 %>">
                        <div class="row">
                            <div class="panel panel-color panel-blue">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Latest submissions</h3>
                                    <div class="panel-options">
                                        <a href="#" data-toggle="remove">&times;</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                        <% if @submission_authorize_flag %>
                                        <div class="btn btn-success rejudge_page"> Rejudge</div>
                                        <div class="btn btn-success rejudge_all"> Rejudge All </div>
                                        <%end%>
                                                <table id="scoretable" class="table table-hover middle-align table-striped" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Problem Code</th>
                                                            <th>Status Code</th>
                                                            <th>Submission Time</th>
                                                            <% if @submission_authorize_flag %>
                                                            <th>Rejudge</th>
                                                            <% end %>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% @submissions.each_with_index do |submission, index| %>
                                                            <tr>
                                                                <td class="text-primary">
                                                                    <strong style="font-size:1.2em;">
                                                                    <%= link_to @users[index][:username], "/submissions/user/#{@users[index][:id]}" %>
                                                                    </strong>
                                                                    <!-- <span> -->
                                                                        <%#=@users[index][:college]%>
                                                                    <!-- </span> -->
                                                                </td>
                                                                <td class="text-primary">
                                                                    <strong>
                                                                    <%= link_to @problems[index], "/submissions/contest/#{@contest_codes[index]}/problem/#{@problems[index]}" %>
                                                                    </strong>
                                                                </td>
                                                                <td class="submission_img" data-submission-id="<%=submission[:_id]%>" data-status-code="<%=submission[:status_code]%>" align="center">
                                                                    <% if submission[:status_code] == 'PE'%>
                                                                    <%=image_tag("load.gif", size:"24")  %>
                                                                    <% elsif submission[:status_code] == 'AC'%>
                                                                    <%=image_tag("tick.png", size:"24", data: { toggle: 'tooltip', placement: 'bottom', original_title: submission[:status_code] })  %>
                                                                    <br /><br /><span><i><b> <%=submission[:running_time].round(2)%> </b></i></span>
                                                                    <% elsif submission[:status_code] == 'WA'%>
                                                                    <%=image_tag("red-cross.png", size:"24", data: { toggle: 'tooltip', placement: 'bottom', original_title: submission[:status_code] })  %>
                                                                    <% elsif submission[:status_code] == 'TLE'
                                                                         %>
                                                                    <%=image_tag("clock.png", size:"24", data: { toggle: 'tooltip', placement: 'bottom', original_title: submission[:status_code]})  %>
                                                                    <% elsif submission[:status_code] == 'CE'
                                                                         %>
                                                                    <%=image_tag("alert.png", size:"24", data: { toggle: 'tooltip', placement: 'bottom', original_title: submission[:status_code]})  %>
                                                                    <% else %>
                                                                    <%=image_tag("exclamation.png",size:"24", data: { toggle: 'tooltip', placement: 'bottom', original_title: submission[:status_code] })  %>
                                                                    <br /><br /><span><i><b> <%=submission[:error_description]%> </b></i></span>
                                                                    <% end -%>
                                                                </td>
                                                                <td>
                                                                    <a href="/view_submission/<%=submission[:_id].to_s%>" data-remote="true" class="timeago" title="<%=submission[:submission_time].to_time.iso8601%>">
                                                                        <%=submission[:submission_time].to_time.iso8601%>
                                                                    </a>
                                                                </td>
                                                                <% if can? :update, submission %>
                                                                <td class="rejudge_submission" data-submission-id="<%=submission[:_id].to_s%>">
                                                                    <%=image_tag("refresh.png", size:"24", data: { toggle: 'tooltip', placement: 'bottom', original_title: submission[:status_code] })  %>
                                                                </td>
                                                                <% end %>
                                                            </tr>
                                                        <% end %>
                                                    </tbody>
                                                </table>
                                                <div class="row" style="float:right">
                                                    <%= paginate @submissions, :theme => 'twitter-bootstrap-3'%>
                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display:<%= @clarifications.nil? ? 'none' : '' %>">
                        <div class="panel panel-color panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Clarifications</h3>
                                <div class="panel-options">
                                    <a href="#" data-toggle="remove">&times;</a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Fat far.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <% content_for :scripts do %>
                    <%= javascript_include_tag "submissions.js" %>
                <% end %>

                <% content_for :styles do %>
                    <%= javascript_include_tag "submissions.js" %>
                <% end %>