<!DOCTYPE html>
<html lang="en">
	<head>
		<%= render partial: 'layouts/head' %>
	</head>
	<body class="page-body">
		<%= render partial: 'layouts/nav' %>
		<div class="page-container">
			<div class="main-content">
				<%#= render partial: 'layouts/header' %>
			</div>
			<div class="main-content">
			<%= javascript_include_tag 'application_script.js' %>
				<%= yield %>
				<%#= render partial: 'layouts/footer' %>
			</div>
		</div>
	</body>
</html>

<%= javascript_include_tag "application_home_footer.js" %>
<%= javascript_include_tag "page-loader.js" %>