<!DOCTYPE html>
<html lang="en">
	<head>
		<%= render partial: 'layouts/head' %>
	</head>
	<body class="page-body">
		<%= render partial: 'layouts/nav' %>
		<div class="page-container">
			<div class="main-content">
				<%= render partial: 'layouts/header' %>
				<%= yield %>
				<%= render partial: 'layouts/footer' %>
			</div>
			<%= javascript_include_tag 'application_footer.js' %>
		</div>
		<div class="page-loading-overlay">
		    <div class="loader-2"></div>
		</div>
		<% if @home_page || @contest_page || @problem_page %>
			<%= stylesheet_link_tag "datatables/dataTables.bootstrap.css" %>
		<% end %>
		<%= javascript_include_tag "application_footer.js" %>
		<% if @home_page || @contest_page || @problem_page %>
			<%= javascript_include_tag "datatables/js/jquery.dataTables.min.js" %>
			<%= javascript_include_tag "datatables/dataTables.bootstrap.js" %>
			<%= javascript_include_tag "datatables/yadcf/jquery.dataTables.yadcf.js" %>
			<%= javascript_include_tag "datatables/tabletools/dataTables.tableTools.min.js" %>
			<%= javascript_include_tag "jquery.timeago.js" %>
			<script>
				jQuery(document).ready(function() {
				  jQuery.timeago.settings.allowFuture = true;
				  jQuery(".timeago").timeago();
				});
			</script>
            <style>
                .data-table .name {
                    display: block;
                    font-size: 14px;
                    color: #2c2e2f;
                    font-weight: 700;
                }
            </style>
		<% end %>
	</body>
</html>
